<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Welcome to stock historical prices API. Submit a stock name to see their historical trade prices."
    />
    <title><%= title %></title>
    <link rel="stylesheet" href="./stylesheets/style.css" />
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
    </header>
    <main>
      <a href="/api-docs">API Docs</a>
    </main>
    <footer>
      <h2>&#169; 2023 Antonio Saucedo</h2>
      <h3>
        Based on code by
        <a href="https://github.com/jamezmca/learn-api" target="_blank"
          >jamezmca</a
        >
      </h3>
    </footer>
  </body>
</html>
